

a {
  font-weight: 500;
  color: #c164ff;
  text-decoration: inherit;
}
a:hover {
  color: #c164ff;
}

*{
  /* font-family: 'Champion', sans-serif;  */
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
  /* text-transform: capitalize; */
  transition: all .2s linear;
  text-decoration: none;

}
body{
  overflow-x: hidden;
}

:root {
  --main-green: #79dd09;
  --main-green-rgb-015: rgba(121, 221, 9, 0.1);
  --main-yellow: #bdbb49;
  --main-yellow-rgb-015: rgba(189, 187, 73, 0.1);
  --main-red: #bd150b;
  --main-red-rgb-015: rgba(189, 21, 11, 0.1);
  --main-blue: #0076bd;
  --main-blue-rgb-015: rgba(0, 118, 189, 0.1);
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(160, 54, 160);
  cursor: pointer;
  transition: border-color 0.25s;
  /* display: block; */
}

.btn-nav{

  border: 1px solid rgb(160, 54, 160);
  
}

.btn-nav:hover{
transition: 0.3s;
color:rgb(39, 39, 39)!important;
background-color: rgb(160, 54, 160);
  
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  /* display: block; */
}

.image-border{
  border:0.2rem solid rgb(124, 43, 124);
  border-radius: 10%;
}
.main-frame .part2{
background-color: rgb(28, 28, 28);
overflow: hidden;

}

.main-frame{
  border: 0.2rem solid rgb(28, 28, 28) ;
  border-radius: 5px;
  /* padding: 3rem; */
}





    body{
        background-color: plum;
    }

    .login {

	padding: 2rem;
	padding-top: 1rem;
}

div{
    overflow-x: hidden;
}
.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color:  rgb(160, 54, 160);
}

.login__input {
	border: none;
	border-bottom: 2px solid #636363;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 100%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color:  rgb(160, 54, 160);
}

.login_button{
    padding-left: 5rem;
    padding-right: 5rem;
    background-color:  rgb(160, 54, 160);
    color: #D1D1D4;
    font-size: 1rem;
    border:0.2rem solid rgb(160, 54, 160) ;
    display: block;
    position: relative;
    border-radius: 1rem;
    text-align: center;
    width: 100%;
}

.h1{
    font-size: 4rem;
    font-weight: 700;
    font-family: sans-serif;
}
.login-title-frame{
    padding:2rem;
    padding-top:4rem
}

.side2title{
    padding-left :2rem;
    padding-top: 4rem;
    line-height: 0.8;
    padding-right: 2rem;
    overflow-wrap: break-word;
}

.side2para{
    padding-left: 2rem;
    font-family: sans-serif;
}
.dot {
  height: 100px;
  width: 100px;
  background-color:  rgb(160, 54, 160);
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  position: absolute;
}
.dot {
    margin-left: 5rem;
margin-top:25rem ;
  height: 100px;
  width: 100px;
  background-color:  rgb(160, 54, 160);
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  position: absolute;
}
.dot1 {
margin-left: 30rem;
margin-top: 2rem;
  height: 100px;
  width: 100px;
  background-color:  rgb(160, 54, 160);
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  position: absolute;
}
.dot2 {
margin-left: 88%;
margin-top: 15rem;
  height: 100px;
  width: 100px;
  background-color:  rgb(160, 54, 160);
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  position: absolute;
}
.dot3 {
    margin-left: 80%;
margin-top: 90%;
  height: 100px;
  width: 100px;
  background-color:  rgb(160, 54, 160);
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  position: absolute;
}
.dot4 {
    margin-left: 5rem;
margin-top: 40rem;
  height: 100px;
  width: 100px;
  background-color:  rgb(160, 54, 160);
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  position: absolute;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
    overflow-y: hidden;
}


/* Variables */
:root {
  --main-green: #79dd09;
  --main-green-rgb-015:rgba(49, 5, 93, 0.979);
  --main-yellow: #bdbb49;
  --main-yellow-rgb-015:rgba(49, 5, 93, 0.979);
  --main-red: #990bbd;
  --main-red-rgb-015: rgba(49, 5, 93, 0.979);
  --main-blue: #0076bd;
  --main-blue-rgb-015:rgba(49, 5, 93, 0.979);
}

/* This pen */


.dark {
  background: #110f16;
}

.light {
  background: #f3f5f7;
}

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}


/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.postcard.dark {
  background-color: #18151f;
}

.postcard.light {
  background-color: #e1e5ea;
}

.postcard.t-dark {
  color: #18151f;
}

.postcard a {
  color: inherit;
}

.postcard h1,
.postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.postcard .small {
  font-size: 80%;
}

.postcard .postcard__title {
  font-size: 1.75rem;
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

.postcard:hover .postcard__bar {
  width: 100px;
}

/* Media Queries */
@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }

  .postcard .postcard__title {
    font-size: 2rem;
  }

  .postcard .postcard__tagbox {
    justify-content: start;
  }

  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }

  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }

  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }

  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }

  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }

  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }

  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}

@media screen and (min-width: 1024px) {
  .postcard .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark .postcard__text:before {
    background: #18151f;
  }

  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: var(--main-green);
  color: black;
}

.green .postcard__title:hover {
  color: var(--main-green);
}

.green .postcard__bar {
  background-color: var(--main-green);
}

.green:before {
  background-image: linear-gradient(-30deg, var(--main-green-rgb-015), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-green-rgb-015), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  background: var(--main-blue);
}

.blue .postcard__title:hover {
  color: var(--main-blue);
}

.blue .postcard__bar {
  background-color: var(--main-blue);
}

.blue:before {
  background-image: linear-gradient(-30deg, var(--main-blue-rgb-015), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-blue-rgb-015), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: var(--main-red);
}

.red .postcard__title:hover {
  color: var(--main-red);
}

.red .postcard__bar {
  background-color: var(--main-red);
}

.red:before {
  background-image: linear-gradient(-30deg, var(--main-red-rgb-015), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-red-rgb-015), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: var(--main-yellow);
  color: black;
}

.yellow .postcard__title:hover {
  color: var(--main-yellow);
}

.yellow .postcard__bar {
  background-color: var(--main-yellow);
}

.yellow:before {
  background-image: linear-gradient(-30deg, var(--main-yellow-rgb-015), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-yellow-rgb-015), transparent 50%);
}

@media screen and (min-width: 769px) {
  .green:before {
    background-image: linear-gradient(-80deg, var(--main-green-rgb-015), transparent 50%);
  }

  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-green-rgb-015), transparent 50%);
  }

  .blue:before {
    background-image: linear-gradient(-80deg, var(--main-blue-rgb-015), transparent 50%);
  }

  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-blue-rgb-015), transparent 50%);
  }

  .red:before {
    background-image: linear-gradient(-80deg, var(--main-red-rgb-015), transparent 50%);
  }

  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-red-rgb-015), transparent 50%);
  }

  .yellow:before {
    background-image: linear-gradient(-80deg, var(--main-yellow-rgb-015), transparent 50%);
  }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-yellow-rgb-015), transparent 50%);
  }
}

